:host {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 84px;
  right: 20px;
  height: 320px;
  max-height: 480px;
  width: 240px;
  border: 1px solid lightgray;
  background: #FFFFFF;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
  padding: 8px;
}

.layer {
  display: flex;
}
