<header class="toolbar">
  <span class="header-title">angular map</span>
  <app-map-toolbar class="toolbar-buttons"></app-map-toolbar>
</header>
<router-outlet></router-outlet>
<footer>
  Like this?&nbsp;
  <a href="https://github.com/dveever/arcgis-angular-map" target="_blank" rel="noopener">Give my repo a star.
    <div class="github-star-badge">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
      </svg>
      Star
    </div>
  </a>
</footer>
