@import "src/assets/variables";

:host {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 4px #999999, -2px -2px 4px #aaaaaa;
  max-height: 420px;
  overflow: hidden;
  width: 900px;
}

header {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  font-weight: 500;
  font-size: 18px;
}

section {
  height: 100%;
  width: 100%;
}
