@import "src/assets/variables";

:host {
  width: 100%;
  height: 100%;
}

.esri-view {
  height: 100%;
  width: 100%;
  outline: none;
}

.attr-table {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 20px;
  bottom: 60px;

  @media (max-width: $md) and (orientation: portrait) {
    left: 2px;
    right: 2px;
    bottom: 2px;
    height: 60%;
    width: unset;
  }

  @media (max-width: $md) and (orientation: landscape) {
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
  }
}
