:host {
  width: 100%;
  height: 100%;
}

.esri-view {
  height: 100%;
  width: 100%;
  outline: none;
}

.attr-table {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 20px;
  bottom: 60px;
  width: 640px;
  height: 320px;
}
