<div class="button-group">
  <button mat-stroked-button
          class="button"
          [class.button-active]="isDefaultMode()"
          [matTooltip]="'Pan'"
          matTooltipPosition="below"
          (click)="selectPanTool()">
    <mat-icon>pan_tool</mat-icon>
  </button>
  <button mat-stroked-button
          class="button"
          [class.button-active]="isIdentifyByClickMode()"
          [matTooltip]="'Identify'"
          matTooltipPosition="below"
          (click)="selectIdentifyByClickTool()">
    <mat-icon>ads_click</mat-icon>
  </button>
</div>
<div class="button-group">
  <button mat-stroked-button
          class="button"
          [class.button-active]="layerListVisible() | async"
          [matTooltip]="(layerListVisible() | async) ? 'Hide layer list' : 'Show layer list'"
          matTooltipPosition="below"
          (click)="changeLayerListVisible()">
    <mat-icon>layers</mat-icon>
  </button>
</div>
<div class="button-group">
  <button mat-stroked-button
          class="button"
          [matTooltip]="'Clear selection'"
          matTooltipPosition="below"
          (click)="clearSelection()">
    <mat-icon>deselect</mat-icon>
  </button>
</div>
